* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0,45,91,255)
}

.main_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 0;
    text-align: center;
}

.block1 img {
    position: absolute;
    top: 0;
}

.block1 img.top{
    position: absolute;
    top: -60;
    z-index: 1;

    width: 250px;
}

.head_text {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 23px;
    transform: translate(0px ,120px);
    z-index: 0;
}

.yellowBold {
    font-weight: 600;
    color: rgb(250, 164, 26);
}

.purpleText {
    font-weight: 600;
    color: rgb(170, 0, 170);
}

.block2 {
    z-index: 1;
    color: #fff;
    text-align: center;
    transform: translate(0px ,150px);
}

.block2 a {
    font: 10px sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    /* font-family: ; */
    
    background-color: rgba(187,62,151,255);
    padding: 6px 8px 6px 8px;
}

.block3 {
    transform: translate(0px ,175px);
    font: 1em sans-serif;
    color: #fff;
}

.block3 img {
    width: 400px;
    height: auto; 
}

.block3 p {
    width: 50%;
    padding: 20px;
    font-style: italic;
}

.yellowItalic {
    color: rgb(250, 164, 26);
    font-weight: bold;
    font-style: italic;
}

.firstImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secondImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

.thirdImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

.block4 {
    transform: translate(0px ,200px);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.purpleText2 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(170, 0, 170);

}

.block4 a {
    font: 10px sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    /* font-family: ; */
    
    background-color: rgba(187,62,151,255);
    padding: 6px 8px 6px 8px;
}

.block5 {
    transform: translate(0px ,200px);
    margin-top: 50px;
    text-align: center;
    color: #fff;
    z-index: 1;

    font-size: 10px;
}

.block5 a{
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

.arrangeIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200%;

    transform: translate(-33px, 0px);
}

.block6 {
    transform: translate(0px ,200px);
    margin-top: 50px;
    text-align: center;
    color: #fff;
    z-index: 1;

    font-size: 10px;
}

.block6_container {
    display: flex;
    justify-content: space-between;
}
